@import "../scss/variables.scss";

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 110%; //62.5%
    font-family: sans-serif;
}

.App {
    width: 100%;
    min-height: 100vh;
    background-color: $background-color-first;
    font-family: 'Lato';

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

header, footer, main {
    width: 100%;
}

main {
    margin: 2em;
}

@media (max-width: 2000px) {
    html {
        font-size: 100%; //62.5%
    }
}

@media (max-width: 1700px) {
    html {
        font-size: 80%; //62.5%
    }
}

@media (max-width: 1550px) {
    html {
        font-size: 62.5%; //62.5%
    }
}