@import "../../scss/variables";

.Header {
    &:visited,
    &:active,
    &:link {
        text-decoration: none;
        color: black;
    }

    background-color: $background-color-second;
    padding: 1em;
    display: block;

    &-h1 {
        font-family: 'Pacifico';
        font-size: 4em;
        text-align: center;
    }
}