@import "../../scss/variables";

.Header {
    background-color: $background-color-second;
    padding: 1em;
    display: block;

    &-h1 {
        font-family: 'Pacifico';
        font-size: 4em;
        text-align: center;
    }
    
    &-link {
        padding: .5em;
    }
}