@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.Footer {
    width: 100%;
    min-height: 5em;
    background-color: $background-color-second;
    padding: 1em;
    @include flexCenterColumn;
}

.SvgAuthorsLink {
    padding: .3em;
    background-color: $background-color-first;
    transition: all .2s;
    font-size: 1.5em;

    &:hover {
        background-color: $background-color-first_hovered;
    }
}